NoteNotes for the course Python for data sciecne and machine learning bootcamp https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamps

In [2]:
def times2(var):
    return var*2


times2(5)

10

In [3]:
seq=[1,2,3,4,5]

In [4]:
map(times2,seq)

In [9]:
outList=list(map(times2,seq))

In [10]:
outList

[2, 4, 6, 8, 10]

In [11]:
def times2(var): return var*2

In [12]:
times2(3)

6

In [13]:
outList=list(map(lambda var:var*2,seq))

In [14]:
t = lambda var:var2

In [15]:
filter(lambda num: num%2==0,seq)

In [17]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [18]:
s = 'hello my name is Sam'

In [19]:
s.lower()

'hello my name is sam'

In [20]:
s.upper()

'HELLO MY NAME IS SAM'

In [21]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [22]:
tweet = 'Go Sports! #Sports'

In [23]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [24]:
tweet.split('#')[1]

'Sports'

In [25]:
d={'k1':1,'k2':2}

In [26]:
d.keys()

dict_keys(['k1', 'k2'])

In [27]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [28]:
d.values()

dict_values([1, 2])

In [29]:
lst=[1,2,3]

In [30]:
lst.pop()

3

In [31]:
lst

[1, 2]

In [32]:
item=lst.pop()

In [33]:
first = lst.pop()

In [34]:
first

1

In [35]:
lst

[]

In [36]:
'x' in [1,2,3]

False

In [37]:
'x' in ['x','y','z']

True

In [38]:
x=[(1,2),(3,4),(5,6)]

In [39]:
x[0][0]

1

In [41]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [42]:
for (a,b) in x:
    print(a)

1
3
5